@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-bottom: 10px;
  background-color: hsl(0, 0%, 98%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(0, 0%, 30%);
}


.empty {

  display: block;
  white-space: pre;
}


.blockquote {
    max-width: 600px;
    color: #0b4237;
    padding: 1rem 1.5rem;
    padding: 15px 5px;
    margin: 0 auto;
    width:auto;
    display:table;
}


.blockquote-text {
  font-family: 'Gelasio', serif;
  font-style: italic;
  font-size: 1.2em;
  color: #b38600;
  line-height: 1.2;
  letter-spacing: 0.02px;
   margin: 0;

}

.blockquote-text:not(:last-child){
  margin-bottom: 1em;
}


/* .blockquote-quotes::before {

  content: "\201C";
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: -30px;
  margin-top : -10px;
  margin-right: 3px;

}

.blockquote-quotes::after {

    content: '\201D';
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-top: -75px;
    left: -4em;
} */

.blockquote-cite {
  font-weight: light;
  font-style: normal;
  text-align: right;

}

.blockquote__cite:before {
  content: "\2014\0020";
}


.s-brand > * {
  vertical-align: middle;
  display: inline-block;
}

.s-brand-name * {
  color: white;
}

.s-nav-menu {
  margin: 0 25px;
}

.box-element {
  box-shadow: hsl(0, 0%, 80%) 0 0 16px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}

.thumbnail {
  width: 100%;
  height: 200px;
  -webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  -moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
}

.product {
  border-radius: 0 0 4px 4px;
}

.bg-dark {
  color: white;
  background-color: #0d447c !important;
}

.btn-primary {
  background-color: #0d447c !important;
}

.login-form-container {
  max-width: 650px;
  padding-left: 0px;
  margin: 0 auto;
}

.s-signup-form-row {
  flex-direction: row;
  justify-content: space-evenly;
}

.s-signup-card-header {
  text-align: center;
}

.s-signup-btn {
  text-align: center;
  margin-top: 15px;
}

.s-signup-btn .btn {
  padding: 10px 40px;
}

.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
  margin-top: 10px;
}

.row-image {
  width: 100px;
}

.form-field {
  width: 250px;
  display: inline-block;
  padding: 5px;
}

.hidden {
  display: none !important;
}

.text {
  border: 2px solid #b2b7c2;
  font-size: 22px;
  -webkit-transition: box-shadow linear 1s;
  transition: box-shadow linear 1s;
}
.text:focus {
  box-shadow: 0 0 20px #143b91;
}

.side_menu {
  position: absolute;
  z-index: 9;
  opacity: 1;
  transition: all 0.5s;
  display: block;
}

.side_menu ul {
  list-style: none;
  background: #3030303d;
  padding: 0 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.list-group-item.active {
  background-color: #ee7900;
}

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 87.5%;
  color: #fff;
  background-color: #ee7900;
  border-radius: 0.2rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

/* START Not sure if the followin 2 classes are being used? */
.footer {
  text-align: center;
  border: none;
  padding: 10px;
  margin: 40px 0px 0px 0px;
}

.copyright {
  background: #0d2d3d;
  padding: 20px 0px 20px 0px;
}
/* END Above two classes are not being used */

/*Adding styles for Multi-Column Footer */
.container {
  flex: 1;
  display: flex;
  min-height: 10vh;
  flex-direction: column;
}

.ftr-col-style {
  list-style: none;
  padding-left: 0;
  font-size: 18px;
}

footer {
  background-color: #d8d8d8;
  line-height: 1.5;
}

footer a {
  color: #333;
  /* color: #eee; */
}

footer disabled a:hover {
  color: #333;
}



.ftr-title {
  color: #288ABB;
  font-family: 'Lobster', cursive;
  /* font-family: 'Amatic SC', cursive; */

  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 0.625rem;
}

.ftr-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.ftr-menu-item {
  padding: 1.2rem;
  min-width: 9.5rem;
}

.footer-copyright {
  padding: 3px;
  background-color: #0D447C;
  color: #fff;
}

.hr-dot-line {

   display: flex;
   flex-direction: row;
   justify-content: center;
   font-style: italic;
   color: #e67e17;
   padding: 10px;
   width:30%;
  height:50px;
  margin-top:0px;

}

/* End Multi-column Footer styles */
.breadcrumb {
  background-color: #0d2d3d;
}

.region-center-box {
  color: #313437;
  /* background-color: #eef4f7; */
}

.region-center-box h1 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: #333;
  /* color: inherit; */
}

.region-center-box region-center-intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.region-center-box .officers {
  padding: 50px 0;
}

.region-center-box .item {
  text-align: center;
}

.region-center-box .item .box {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
}

.region-center-box .item .name {
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 8px;
  color: inherit;
}

.region-center-box .item .officer-org-role {
  text-transform: uppercase;
  font-weight: bold;
  /* color: #d0d0d0; */
  letter-spacing: 2px;
  font-size: 13px;
}

.officer-details {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.officers-card {
  font-family: "Open Sans", Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height: 368px;
  border: none;
}

.officers-card .background-block {
  float: left;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.officers-card .background-block .background {
  width: 100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
  -webkit-transform: scale(1.8);
  transform: scale(2.8);
}

.box .background-block {
  float: left;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.box .background-block .background {
  width: 100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
  -webkit-transform: scale(1.8);
  transform: scale(2.8);
}

.officers-card .card-content {
  width: 100%;
  padding: 15px 25px;
  color: #232323;
  float: left;
  background: #efefef;
  height: 50%;
  border-radius: 0 0 5px 5px;
  position: relative;
  z-index: 1;
}

.officers-card .card-content::before {
  content: "";
  background: #efefef;
  width: 120%;
  height: 100%;
  left: 11px;
  bottom: 51px;
  position: absolute;
  z-index: -1;
  transform: rotate(-13deg);
}

.officers-card .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index: 2;
  width: 15%;
}

.box .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index: 99999;
  width: 15%;
}

.officers-card h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size: 25px;
}

.officers-card h2 small {
  display: block;
  font-size: 15px;
  margin-top: 10px;
}

.officers-card i {
  display: inline-block;
  font-size: 16px;
  color: #232323;
  text-align: center;
  border: 1px solid #232323;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin: 0 5px;
}

.officers-card .icon-block {
  float: left;
  width: 100%;
  margin-top: 15px;
}

.officers-card .icon-block a {
  text-decoration: none;
}

.officers-card i:hover {
  background-color: #232323;
  color: #fff;
  text-decoration: none;
}

.officers-page-title {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  margin-bottom: 30px;
}

/* The following style the USA Regions Map */
.tooltip {
  opacity: 1;
}

.space-bottom {
  margin-bottom: 10px;
}

.set-minheight {
 min-height: 250px;
}

.set-bgcolor {
background-color:#0a58ca0a
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
}

#mapwrapper {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 0;
  background-color: transparent;
  min-width: 220px;
  text-align: center;
}

#map_base svg {
  width: 60%;
  margin: 0;
}

.text-tag {
  font-weight: bold;
  margin-bottom: 15px;
}

.map_label {
  text-align: center;
  font-size: 2.2em;
  font-weight: 600;
  display: none;
}

g:hover path {
  fill-opacity: 0.8;
}

g:hover text {
  font-weight: 700;
}

#us-map {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* End US Regions Map styling */
