{% extends 'base.html' %}
{% load static %}
{% block content %}

  {% if message %}
    <div class="alert alert-warning" role="alert">
      {{ message }}
    </div>
  {% endif %}


  <div class="card mx-auto mt-5" style="max-width: 36rem;">
  <div class="card-header bg-transparent"><h3 class="card-title text-primary">Portal Login</h3></div>
  <div class="card-body">

    <div class="bg-white rounded shadow-sm">
      <h6 class="border-bottom border-gray pb-2 mb-0">
        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
        Stage One - Generate and receive code to your email
      </h6>
      <div class="media text-muted pt-3">
        <p class="media-body pb-3 mb-0 small lh-125">
          <form action="{% url 'home' %}" method="POST">
            {% csrf_token %}
            <div class="row form-row">
              <div class="col-md-7">
                <input type="text" required class="form-control" name="emailaddress" id="emailaddress" placeholder="Enter your email address">
              </div>
              <div class="col-md-5">
                <button type="submit" class="btn btn-secondary">Generate Code</button>
              </div>
            </div>
          </form>
        </p>
      </div>
      <br/>
      <h6 class="border-bottom border-gray pb-2 mb-0">
        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#FFA500"/><text x="50%" y="50%" fill="#FFA500" dy=".3em">32x32</text></svg>
        Stage Two - Submit received code from email to proceed
      </h6>
      <div class="media text-muted pt-3">
        <p class="media-body pb-3 mb-0 small lh-125">
          <form action="{% url 'home' %}" method="POST">
            {% csrf_token %}
            <div class="row form-row">
              <div class="col-md-7">
                <input type="text" required class="form-control" name="authcode" id="authcode" placeholder="Enter Auth code" disabled>
              </div>
              <div class="col-md-5">
                <button type="submit" class="btn btn-secondary" disabled>Authenticate</button>
              </div>
            </div>
          </form>
        </p>
      </div>
    </div>

  </div>
  </div>
{% endblock content %}
