{% extends 'base.html' %}
{% load static %}
{% block content %}

<form method="post" action="{% url 'contactus' %}">
  {% csrf_token %}

    <div class="container-sm login-form-container">
      <div class="card bg-light text-dark">
        <h5 class="card-header s-signup-card-header">Contact Us</h5>
      <div class="card-body">
        <div class="container-sm">
          <div class="row gy-5">
            <div class="col-6">
              <div class="p-1 bg-light">
                <label for="id_fullname">Full Name</label>
                <input type="text" class="form-control" name="fullname" required="id_fullname" placeholder="Enter your full name">
              </div>
            </div>
            <div class="col-6">
              <div class="p-1 bg-light">
                <label for="id_email">Email</label>
                <input type="email" class="form-control" name="email" placeholder="Enter your email id" required="id_email">
              </div>
            </div>
            <div class="col-6">
              <div class="p-1 bg-light">
                <label for="id_phone">Phone</label>
                <input type="number" class="form-control" name="phone" placeholder="1234567890" required="id_phone">
              </div>
            </div>
            <div class="col-6">
              <div class="p-1 bg-light">
                <label for="id_subject">Subject</label>
                <input type="text" class="form-control" name="subject" required="id_subject" placeholder="Enter subject">
              </div>
            </div>
            <div class="col-12">
              <div class="p-1 bg-light">
                <label for="id_remarks">Message</label>
                <textarea class="form-control rounded-0" id="id_remarks" name="message" required="id_remarks"></textarea>
              </div>
            </div>
          </div>
        </div>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        <div class="form-row s-signup-form-row">
          <div class="form-group s-signup-btn">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
     <div>
  </div>
  </form>
  {% endblock content %}
