{% extends 'base.html' %}
{% block content %}
	<nav class="nav nav-pills nav-fill">
		<a class="nav-link" aria-current="page" href="{% url 'region-page' regionId %}">Regional Officers</a>
		<a class="nav-link active" href="{% url 'region-centers' regionId %}">Show Centers</a>
	</nav>

	<div class="mt-3">
		<div class="container">
			<div class="region-center-intro">
			<h1 class="text-center officers-page-title">Centers from {{ regionName}} </h1>
			</div>
		</div>

		<center>
			<table class="table">
				<tr>
				<th scope="col">Center Name</th>
				<th scope="col">Center Type</th>
				<th scope="col">City</th>
				<th scope="col">State</th>
				<th scope="col">Zipcode</th>
				<th scope="col">Website</th>
				</tr>
				{% for center in centersByRegionId %}
				<tr>
				<td><a href="{% url 'center-page' center.id %}">{{ center.name}}</a></td>
				<td>{{ center.center_type}}</td>
				<td>{{ center.city}}</td>
				<td>{{ center.state}}</td>
				<td>{{ center.zip_code}}</td>
				<td>
					<a href="{{ center.website }}" target="_blank">{{ center.website }}</a>
				</td>
				</tr>
				{% endfor %}
			</table>
		</center>
	</div>
{% endblock %}
