{% extends 'base.html' %}
{% block content %}
  <div class="container-fluid">
    <nav class="nav nav-pills nav-fill">
      <a class="nav-link active" aria-current="page" href="{% url 'region-page' 1071 %}">Regional Officers</a>
      <a class="nav-link" href="{% url 'center-page' 5197 %}">Show Centers</a>
    </nav>

    {% if regionOfficers %}
      <div class="row mt-3">        
        <div class="region-boxed">
          <div class="container">
            <div class="region-intro">
              <h1 class="text-center">Officers</h1>              
            </div>
          </div>

          <div class="row officers">
            {% for regoff in regionOfficers %}
              <div class="col-md-6 col-lg-4 item">
                <div class="box">
                  <h3 class="name">{{ regoff.first_name }} {{regoff.last_name}}</h3>
                  <p class="officer-email">{{regoff.email}}</p>
                  <p class="officer-details">Group: {{regoff.age_group}}</p>
                  <p class="officer-details">Phone #: {{regoff.phone}}</p>
                  <p class="officer-details">City #: {{regoff.city}}</p>
                </div>
              </div>
            {% endfor %}       
          </div>
        </div>
          
        <!-- {% for regoff in regionOfficers %}
        <div class="col-sm-3 mt-3">
          <div class="card" style="width: 18;">  
              <div class="card-body">
                <h5 class="card-title">{{ regoff.first_name }} {{regoff.last_name}}</h5>
                <p class="card-text">Email: {{regoff.email}}</p>
                <p class="card-text">Phone Number: {{regoff.phone}}</p>
                <p class="card-text">Group: {{regoff.age_group}}</p>
                <a href="#" class="btn btn-primary">Send an Email</a>
              </div>            
            </div>
        </div> 
      {% endfor %} -->
      <div>

      {% else %}
        <div class="row mt-3">
          <div class="region-boxed">
            <div class="container">
              <div class="region-intro">
                <h1 class="text-center">No officers</h1>              
              </div>
            </div>
          </div>
        </div>
      {% endif %}

  </div>
{% endblock content %}
