{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <nav class="nav nav-pills nav-fill">
      <a class="nav-link" aria-current="page" href="{% url 'region-page' 1071 %}">Regional Officers</a>
      <a class="nav-link active" href="{% url 'center-page' 5197 %}">Show Centers</a>
    </nav>

    {% if centerOfficers %}
      <div class="row mt-3">        
        <div class="region-center-box">
          <div class="container">
            <div class="region-center-intro">
              <h1 class="text-center officers-page-title">Center Officers</h1>              
            </div>
          </div>

          <section>
            <div class="container">
              <div class="row">
                {% for cenOff in centerOfficers %}
                  <div class="col-md-6 col-lg-4">
                    <div class="card officers-card">
                        <div class="background-block">
                            <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="profile-sample1" class="background"/>
                        </div>
                        <div class="profile-thumb-block">
                            <img src="https://www.gravatar.com/avatar/94d093eda664addd6e450d7e9881bcad?s=32&d=identicon&r=PG" alt="profile-image" class="profile"/>
                        </div>
                        <div class="card-content">
                            <h2>{{ cenOff.first_name }} {{cenOff.last_name}}<small>                  
                              {% for mem in cenOff.orgrole.all %}
                                  {% if forloop.counter == 1 %}
                                    {{ mem }}
                                  {% else %}
                                    | {{ mem }}
                                  {% endif %}
                              {% endfor %}                  
                            </small></h3>                    
                            <p class="officer-details">Email: {{cenOff.email}}</p> 
                            <p class="officer-details">Phone #: {{cenOff.phone}}</p>                          
                        </div>
                      </div>              
                  </div>
                {% endfor %}
              </div>
           </div>
          </section>

          <!-- <div class="row officers">
            {% for cenOff in centerOfficers %}
              <div class="col-md-6 col-lg-4 item">
                <div class="box">
                  <img class="rounded-circle" src="https://i.stack.imgur.com/vr0uy.png">
                  <h3 class="name">{{ cenOff.first_name }} {{cenOff.last_name}}</h3>
                  <p class="officer-org-role">
                    {% for mem in cenOff.orgrole.all %}
                        {% if forloop.counter == 1 %}
                          {{ mem }}
                        {% else %}
                          | {{ mem }}
                        {% endif %}
                    {% endfor %}
                  </p>
                  <p class="officer-detials">Email: {{cenOff.email}}</p>                                
                  <p class="officer-details">Phone #: {{cenOff.phone}}</p>
                  <p class="officer-details">Address: {{cenOff.city}}, {{cenOff.state}}</p>
                </div>
            </div>
            {% endfor %}       
          </div> -->
        </div>            
      <div>

      {% else %}
        <div class="row mt-3">
          <div class="region-center-box">
            <div class="container">
              <div class="region-center-intro">
                <h1 class="text-center">No Centers Officers Available</h1>              
              </div>
            </div>
          </div>
        </div>
      {% endif %}

  </div>
{% endblock content %}
