{% extends 'base.html' %}
{% load static %}
{% block content %}
	<nav class="nav nav-pills nav-fill">
		<!-- <a class="nav-link" href="{% url 'region-centers' centerId %}">Show Centers</a> -->
		<a class="nav-link active" href="{% url 'center-members' centerId %}">Show Members</a>
	</nav>

	<div class="mt-3">
		<div class="container">
			<div class="region-center-intro">
			<h1 class="text-center officers-page-title">Members</h1>
			</div>
		</div>

		<center>
			<table class="table">
				<tr>
				  <th scope="col"></th>
				  <th scope="col">First Name</th>
				  <th scope="col">Last Name</th>
				  <th scope="col">Email-ID</th>
				  <!-- <th scope="col">Phone-Num</th> -->
				  <th scope="col">Org-Role</th>
				  <th scope="col">App-Role</th>
				  <th scope="col">Region</th>
				  <th scope="col">Center</th>
				</tr>
				{% for member in membersForCenter %}
				<tr>
				  <th scope="row">
						{% if perms.website.is_national_officer or perms.website.is_regional_officer or perms.website.is_central_officer %}
					  		<img src="{% static 'images/editIcon.png' %}" classs="img-fluid" onclick="showEditUI('{{ member.email }}');" data-bs-toggle="modal" data-bs-target="#staticBackdrop"/>
						{% else %}
							<img src="{% static 'images/editIcon.png' %}" classs="img-fluid" data-bs-toggle="modal" data-bs-target="#staticBackdrop"/>
						{% endif %}
				  </th>
				  <td>{{ member.first_name }}</td>
				  <td>{{ member.last_name }}</td>
				  <td>{{ member.email }}</td>
				  <!-- <td>{{ member.phone }}</td> -->
				  <td>
					{% for mem in member.orgrole.all %}
					  {% if forloop.counter == 1 %}
						{{ mem }}
					  {% else %}
						| {{ mem }}
					  {% endif %}
				   {% endfor %}
				  </td>
				  <td>{{ member.approle }}</td>

				  <td>
					{% if perms.website.is_national_officer or perms.website.is_regional_officer %}
						<a href="{% url 'region-page' member.region_id %}">
							{{ member.region}}
						</a>
					{% else %}
						{{ member.region}}
					{% endif %}
				  </td>
				  <td>
					<a href="{% url 'center-page' member.center_id %}"
					  >{{ member.center }}</a
					>
				  </td>
				</tr>
				{% endfor %}
			  </table>
		</center>

		<div class="row">
			<div class="col">
			  {% if membersForCenter %}
				<div class="text-center mb-3">
				  <span class="step-links">
					  {% if membersForCenter.has_previous %}
						  <a href="?page=1">&laquo; first</a>
						  <a href="?page={{ membersForCenter.previous_page_number }}">previous</a>
					  {% endif %}
		
					  <span class="current">
						  Page {{ membersForCenter.number }} of {{ membersForCenter.paginator.num_pages }}.
					  </span>
		
					  {% if membersForCenter.has_next %}
						  <a href="?page={{ membersForCenter.next_page_number }}">next</a>
						  <a href="?page={{ membersForCenter.paginator.num_pages }}">last &raquo;</a>
					  {% endif %}
				  </span>
				</div>
			  {% endif %}
			</div>
		</div>

		<!-- Modal -->

		<div class="modal fade" id="staticBackdrop" 
				data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
				data-bs-toggle="staticModel" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title" id="staticBackdropLabel">Edit Member Profile</h5>
				  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
				  <table class="table table-striped">
					<tr>
					  <th>First Name</th>
					  <td><input type="text" id="first_name" value=""/></td>
					</tr>
					<tr>
					  <th>Last Name</th>
					  <td><input type="text" id="last_name" value=""/></td>
					</tr>
					<tr>
					  <th>Email Address</th>
					  <td id="emailaddr"></td>
					</tr>
					<tr>
					  <th>Organization Role</th>
					  <td>
						<select name="orgrole" id="m_id_orgrole" multiple="">
						  {% for member_or in member_orgroles %}
							<option value="{{member_or.id}}">{{member_or.name}}</option>
						  {% endfor %}
						</select>
					  </td>
					</tr>
	  
					<tr>
					  <th>App Role</th>
					  <td>
						<select name="approle" id="m_id_approle">
						  {% for member_ar in member_approles %}
							<option value="{{member_ar.id}}">{{member_ar.name}}</option>
						  {% endfor %}
						</select>
					  </td>
					</tr>
				  </table>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				  <button type="button" class="btn btn-primary" onclick="saveChanges();">Save Changes</button>
				</div>
			  </div>
			</div>
		  </div>
		
	</div>
{% endblock %}
