<footer class="mt-auto">
  <!-- Footer Section -->
  <section class="ftr-main text-center">
    <div class="ftr-menu-item">
      <h2 class="ftr-title">Events & Activities</h2>
      <ul class="ftr-col-style">
        <li>
          {% if current_datetime %}
          <a href="{% url 'swingtime-monthly-view' current_datetime.year current_datetime.month %}">
            Calendar {{current_datetime.year}}
          </a>
          {% endif %}
        </li>
        <li><a href="{% url 'swingtime-events' %}">Event Listing</a></li>
      </ul>
    </div>
    <div class="ftr-menu-item">
      <h2 class="ftr-title">Resources</h2>
      <ul class="ftr-col-style">
        <li><a href="https://sathyasai.us/find-sai-centers" target="_blank">Find Sai Centers</a></li>
        <li><a href="{% url 'usa_regionsmap'  %}" target="_blank">SSSIO-USA Region Map</a></li>
        <li><a href="https://www.sathyasai.org/about-us/organisation/guidelines" target="_blank">SSSIO-Organization Guidelines</a></li>
        <li><a href="https://www.youtube.com/channel/UCeQxQBU1jXv4R_zwznmFJBg" target="_blank">SSSIO-Youtube Channel</a></li>
      </ul>
    </div>

    <div class="ftr-menu-item">
      <h2 class="ftr-title">Reports</h2>
      <ul class="ftr-col-style">
        <li><a href="#">Link 1</a></li>
      </ul>
    </div>
  </section>
  <!-- Footer Copyright-->
  <section class="footer-copyright text-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col pt-2 text-center">
          <div class="hr-dot-line mx-auto">
            Love All Serve All-Help Ever Hurt Never
          </div>
          © 2022 Sri Sathya Sai International Organization. All rights reserved.
        </div>
      </div>
    </div>
  </section>

</footer>
