{% extends 'base.html' %} {% load static %} {% block content %}
<br />
<br />

<div class="container-fluid">
  <div class="row">
    <div class="col-3 bg-light p-3 border">
      <img
        class="card-img-top"
        src="{% static 'images/B39.jpg' %}"
        class="img-rounded"
      />
    </div>
    <div class="col-9 bg-light p-3 border">
      <div class="container">
        <div class="jumbotron text-center" style="height: 90%">
          <h1 class="display-5">Welcome to SSSIO Online-Member-Portal</h1>
          <!--Search Bar with dropdown for Category-->

          <form
            class="d-flex"
            method="POST"
            action="{% url 'search-members' %}"
          >
            {% csrf_token %}
            <!--Search Bar with dropdown for Category-->

            <div class="input-group w-50 mx-auto mt-4 pt-5 pb-6">
              <input
                type="search"
                class="form-control rounded"
                placeholder="Search By Role or Person Name"
                aria-label="Search"
                aria-describedby="search-addon"
                name="searched"
              />
              <!-- Default style button -->
              <button class="btn btn-outline-secondary" type="submit">
                Search
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    {% endblock %}
  </div>
</div>
