{% extends 'base.html' %} {% load static %} {% block content %}
<center><h1>Import Your File</h1></center>

<div class="row">
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-primary">Import Region</h5>
        <form action="{% url 'uploadRegion' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <p class="card-text">Click below link to import your Region/Center data</p>
          <input type="file" id="file" name="file">
          <button type="submit" class="btn btn-primary">Upload Region File</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    {% if message %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-primary">{{ message }}</h5>
        </div>
      </div>
    {% else %}
      {% if regiondata %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-primary">Successfully imported Region/Center data</h5>
            <p class="card-text">
            {% for data in regiondata %}
              <p>{{data.region}} | {{data.center}}</p>
            {% endfor %}
            </p>
      {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
