{% extends 'base.html' %} {% load static %} {% block content %}
<center><h1>Import Your File</h1></center>

<div class="row">
  <div class="col-md-12" >
    <div class="card align-items-center">
      <div class="card-body">
        <h5 class="card-title text-primary">Import Region/Organization Roles/Members/Quotes data</h5>
        <br>

        <form action="{% url 'uploadFile' %}" method="POST" enctype="multipart/form-data">

          {% csrf_token %}

          <div class="form-check space-bottom">
            <input class="form-check-input"  type="radio" name="importType" id="regionImport" value="region">
            <label class="form-check-label" for="regionImport">
              Region/Center Data  (You can download the template file
              <a href='"../../static/file_templates/RegionTemplate.csv' download="RegionTemplate.csv">here</a>)
            </label>
          </div>
          <div class="form-check  space-bottom">
            <input class="form-check-input" type="radio" name="importType" id="memberImport" value="member">
            <label class="form-check-label" for="memberImport">
              Members Data  (You can download the template file
              <a href='"../../static/file_templates/MemberTemplate.csv' download="MemberTemplate.csv">here</a>)
            </label>
            {% if notification == True %}
              <p class="text-info mt-1"><em><input type="checkbox" id="emailofficer" name="emailofficer" data-regionId={{regionid}} checked onclick="enableNotification();"> enable this option to email officers after member import. <br>
                &nbsp;&nbsp;&nbsp;&nbsp;notification will be triggered next time when batch program runs </em></p>
            {% else %}
              <p class="text-info mt-1"><em><input type="checkbox" id="emailofficer" name="emailofficer" data-regionId={{regionid}} onclick="enableNotification();"> enable this option to email officers after member import. <br>
                &nbsp;&nbsp;&nbsp;&nbsp;notification will be triggered next time when batch program runs </em></p>
            {% endif %}
          </div>
          <div class="form-check space-bottom">
            <input class="form-check-input" type="radio" name="importType" id="orgRoleImport" value="orgRole">
            <label class="form-check-label" for="orgRoleImport">
              Organization Roles
            </label>
          </div>
          <div class="form-check  space-bottom">
            <input class="form-check-input" type="radio" name="importType" id="quotes" value="quotes">
            <label class="form-check-label" for="quotes">
              Swami's Quotes
            </label>
          </div>

          <input class="py-3" type="file" id="file" name="file">
          <button type="submit" class="btn btn-primary">Upload File</button>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
