{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top">
  <a class="navbar-brand s-brand mr-auto" href="{% url 'home' %}">
    <!-- <img src="/static/images/logo-en.png" alt="My image"/> -->
    <img src="{% static 'images/logo-en.png' %}" style="width: 90px" />

    <div class="s-brand-name">
      <h3>Sri Sathya Sai International Organization, USA</h3>
      <div>Officers Portal</div>
    </div>
  </a>
  <ul class="ms-auto navbar-nav s-nav-menu">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Admin</a>
      <div class="dropdown-menu">
          <a href="{% url 'import-page' %}" class="dropdown-item">Import</a>
          <div class="dropdown-divider"></div>
          <a href="{% url 'export-page' %}"class="dropdown-item">Export</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
        >Officers</a
      >
      <div class="dropdown-menu">
        {% if perms.website.is_national_officer %}
          <a href="{% url 'national-officers-page' %}" class="dropdown-item"
            >National</a
          >
          <div class="dropdown-divider"></div>
        {% endif %}
        {% if perms.website.is_national_officer or perms.website.is_regional_officer %}
          <a href="{% url 'regional-officers-page' %}" class="dropdown-item"
            >Regional</a
          >
          <div class="dropdown-divider"></div>
        {% endif %}
        {% if perms.website.is_national_officer or perms.website.is_regional_officer or perms.website.is_central_officer %}
          <a href="{% url 'center-officers-page' %}" class="dropdown-item"
            >Center</a
          >
        {% endif %}
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'contactus' %}">Contact Us</a>
    </li>
  </ul>
</nav>
