{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="empty">

</div>
<div class="container-fluid">

  <div class="row">
    <div class="col-1">
      <div class="form-check">
        {% if gridcheckflag %}
          <input class="form-check-input" type="checkbox" id="gridCheck" onclick="displayFilter();" checked>
        {% else %}
          <input class="form-check-input" type="checkbox" id="gridCheck" onclick="displayFilter();">
        {% endif %}
        <label class="form-check-label" for="gridCheck" style="font-size: x-small">
          Show Filter
        </label>
      </div>
    </div>
    <div class="col-11 text-center">
      <h3>{{ officer_header }}</h3>
    </div>
  </div>
  <div class="empty">

  </div>

  <div class="row ml-auto">
    {% if gridcheckflag %}
      <div id="datafilter" class="col-3" style="border-right: 1px dashed #333;width:18%">
    {% else %}
      <div id="datafilter" class="col-3 d-none" style="border-right: 1px dashed #333;width:18%">
    {% endif %}
      <form method="get" class="mt-3">
          <div class="form-row">
            <div class="form-group col">
              <label class="form-label" for="id_first_name">First name contains:</label>
              <input type="text" name="first_name" id="id_first_name" placeholder="First Name">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-auto">
              <label class="form-label" for="id_center__name">Center name contains:</label>
              <input type="text" name="center__name" id="id_center__name" placeholder="Center Name">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-auto">
              <label class="form-label" for="id_orgrole__name">Orgrole name contains:</label>
              <select name="orgrole" id="id_orgrole" multiple="">
                  {% for member_or in member_orgroles %}
                    <option value="{{member_or.id}}">{{member_or.name}}</option>
                  {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col mt-3">
              <label class="form-label" for="id_region">Region:</label>
              <select name="region" id="id_region">
                {% for member_region in member_regions %}
                  {% if forloop.counter == 1 %}
                    <option value="" selected>All</option>
                  {% endif %}
                  <option value="{{member_region.id}}">{{member_region.name}}</option>
                {% endfor %}
              </select>
            </div>
          <div class="form-row">
            <div class="form-group col mt-3">
              <label class="form-label" for="id_member_status">Member status:</label>
              <select name="member_status" id="id_member_status">
                <option value="" selected="selected">All</option>

                <option value="0">Pending_Approval</option>

                <option value="1">Approved</option>

              </select>
            </div>
          </div>
          </div>
        <input type="hidden" name="gridcheckflag" id="gridcheckflag" value="true"/>
        <button class="btn btn-primary mt-3" type="submit">Apply Filter</button>
      </form>
    </div>

    <!-- Modal -->

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" data-bs-toggle="staticModel" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Edit Member Profile</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <table class="table table-striped">
              <tr>
                <th>First Name</th>
                <td><input type="text" id="first_name" value=""/></td>
              </tr>
              <tr>
                <th>Last Name</th>
                <td><input type="text" id="last_name" value=""/></td>
              </tr>
              <tr>
                <th>Email Address</th>
                <td id="emailaddr"></td>
              </tr>
              <tr>
                <th>Organization Role</th>
                <td>
                  <select name="orgrole" id="m_id_orgrole" multiple="">
                    {% for member_or in member_orgroles %}
                      <option value="{{member_or.id}}">{{member_or.name}}</option>
                    {% endfor %}
                  </select>
                </td>
              </tr>

              <tr>
                <th>App Role</th>
                <td>
                  <select name="approle" id="m_id_approle">
                    {% for member_ar in member_approles %}
                      <option value="{{member_ar.id}}">{{member_ar.name}}</option>
                    {% endfor %}
                  </select>
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="saveChanges();">Save Changes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <table class="table">
        <tr>
          <th scope="col"></th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Email-ID</th>
          <th scope="col">Org-Role</th>
          <th scope="col">App-Role</th>
          <th scope="col">Member Status</th>
          <th scope="col">Region</th>
          <th scope="col">Center</th>
        </tr>
        {% for officer in officers_data %}
        <tr>
          <th scope="row"><img src="{% static 'images/editIcon.png' %}" classs="img-fluid" onclick="showEditUI('{{ officer.email }}');" data-bs-toggle="modal" data-bs-target="#staticBackdrop"/></th>
          <td>{{ officer.first_name}}</td>
          <td>{{ officer.last_name }}</td>
          <td>{{ officer.email }}</td>
          <td>
            {% for mem in officer.orgrole.all %}
              {% if forloop.counter == 1 %}
                {{ mem }}
              {% else %}
                | {{ mem }}
              {% endif %}
           {% endfor %}
          </td>
          <td>{{ officer.approle }}</td>
          {% if officer.member_status == 0 %}
            <td>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onclick="setMemberStatus('{{ officer.email }}');">
                <label class="form-check-label" for="flexSwitchCheckDefault" id="{{ officer.email }}_member_status">Pending_Approval</label>
              </div>
            </td>
          {% else %}
          <td>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked onclick="setMemberStatus('{{ officer.email }}');">
              <label class="form-check-label" for="flexSwitchCheckChecked" id="{{ officer.email }}_member_status">Approved</label>
            </div>
          </td>
          {% endif %}
          <td>
            {% if perms.website.is_central_officer and request.user.is_staff is False %}
              {{ officer.region}}
            {% else %}
            <a href="{% url 'region-page' officer.region_id %}">
              {{ officer.region}}
            </a>
            {% endif %}
          </td>
          <td>
            <a href="{% url 'center-page' officer.center_id %}"
              >{{ officer.center }}</a
            >
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      {% if officers_data %}
        <div class="text-center mb-3">
          <span class="step-links">
              {% if officers_data.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ officers_data.previous_page_number }}">previous</a>
              {% endif %}

              <span class="current">
                  Page {{ officers_data.number }} of {{ officers_data.paginator.num_pages }}.
              </span>

              {% if officers_data.has_next %}
                  <a href="?page={{ officers_data.next_page_number }}">next</a>
                  <a href="?page={{ officers_data.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
          </span>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
