{% extends 'base.html' %} {% block content %}
<center>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="home-tab"
        data-bs-toggle="tab"
        data-bs-target="#home"
        type="button"
        role="tab"
        aria-controls="home"
        aria-selected="true"
      >
        Officer
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="profile-tab"
        data-bs-toggle="tab"
        data-bs-target="#profile"
        type="button"
        role="tab"
        aria-controls="profile"
        aria-selected="false"
      >
        Centers
      </button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="home"
      role="tabpanel"
      aria-labelledby="home-tab"
    >
      <h3>Regional Officers Profile</h3>

      <br />
      <!-- Start Card-Profile-->
      <!--Start Center Members Card-Profile-->
      <!-- Display As Table -->
      {% for member in regionOfficers%}
        <div class="card" style="width: 21rem;">
            <div class="card-body">
              <div class="header">Region - {{ member.region_id }}</div>
              <br>
                <h5 class="card-title">{{ member.approle }}</h5>
                <p class="card-text">
                    
                    <table class="card-table table">
                    <tbody>
                        <tr>
                        <th>First Name</th>
                        <td>{{ member.first_name }}</td>
                        </tr>
                        <tr>
                        <th>Last Name</th>
                        <td>{{ member.last_name }}</td>
                        </tr>
                        <tr>
                        <th>Phone</th>
                        <td>{{ member.phone }}</td>
                        </tr>
                        <tr>
                        <th>Email</th>
                        <td>{{ member.email }}</td>
                        </tr>
                        <th>Center</th>
                        <td>{{ member.center }}</td>
                        </tr>
                    </tbody>
                </table>
                </p>

            </div>
        </div>
      

      <br />
      
    </div>
  </div>
  {% endfor %} {% endblock content %}
</center>
