{% extends 'base.html' %} {% block content %}
<center>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="home-tab"
        data-bs-toggle="tab"
        data-bs-target="#home"
        type="button"
        role="tab"
        aria-controls="home"
        aria-selected="true"
      >
        Officer
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="profile-tab"
        data-bs-toggle="tab"
        data-bs-target="#profile"
        type="button"
        role="tab"
        aria-controls="profile"
        aria-selected="false"
      >
        Centers
      </button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="home"
      role="tabpanel"
      aria-labelledby="home-tab"
    >
      <h3>Regional Officers Profile</h3>

      <!--Start Card-Profile-->
      <div class="container">
        <div class="row mt-5 justify-content-center">
          {% for member in regionOfficers %}
          <div
            class="card mx-2 mb-3 text-dark bg-light"
            style="max-width: 25rem; margin: 10px"
          >
            <div class="header">Region - {{ member.region_id }}</div>
            <div class="card-body py-1">
              <h5 class="title">{{ member.approle }}</h5>

              <div class="row no-gutters">
                <div class="col-md-6">First Name:</div>
                <div class="col-md-6">{{ member.first_name }}</div>
              </div>
              <div class="row no-gutters">
                <div class="col-md-6">Last Name:</div>
                <div class="col-md-6">{{ member.last_name }}</div>
              </div>

              <div class="row no-gutters py-1">
                <div class="col">Email:</div>
                <div class="col-md-auto">{{ member.email }}</div>
              </div>
              <div class="row no-gutters py-1">
                <div class="col">Phone:</div>
                <div class="col-md-6">{{ member.phone }}</div>
              </div>
              <div class="row no-gutters py-1"">
                <div class="col">Address:</div>
                <div class="col-md-6">{{ member.address }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br />
      {% endfor %} {% endblock content %}
    </div>
  </div>
</center>
