{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
  <h1>User Profile Page</h1>

  {{ form.errors }}

  <section>
    <div class="container">
      <div class="row mx-n5">
        <div class="col px-5 mt-5">
          {% if messages %} {% for message in messages %}
          <div class="alert alert-success {{message.tags}}">{{ message }}</div>
          {% endfor %} {% endif%}
          <div class="card officers-card">
            <div class="background-block">
              <img
                src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                alt="profile-sample1"
                class="background"
              />
            </div>
            <div class="profile-thumb-block">
              <img
                src="https://www.gravatar.com/avatar/94d093eda664addd6e450d7e9881bcad?s=32&d=identicon&r=PG"
                alt="profile-image"
                class="profile"
              />
            </div>
            <div class="card-content">
              <h3>
                <small> {{ fName }} {{ lName }}</small>
              </h3>
              <p class="officer-details">Email:{{ email }}</p>
            </div>
          </div>
        </div>
        <div class="col px-5 mt-5">
          <form action="" method="POST">
            <div class="form-group row form-control col-cm-10 mb-3">
              {% csrf_token %} {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-secondary">
              Save Changes
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
